.example-spacer {
  flex: 1 1 auto;
}
// In your component's SCSS file
mat-toolbar {
  .mat-icon-button {
    border: none;
    background-color: transparent;
    box-shadow: none;
  }
}


.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading,
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__notch,
.mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: #ffffff !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: #ffffff !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  -webkit-text-fill-color: #ffffff !important;
  color: #ffffff !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple {
  border-color: #ffffff !important;
}