<mat-toolbar class="header" color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span class="logo" routerLink="/">NewLight</span>
    <span class="example-spacer"></span>
    <mat-form-field appearance="outline"> 
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search..." [formControl]="searchControl">
    </mat-form-field>
    <button mat-icon-button aria-label="Example icon-button with shopping cart icon">
        <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with account icon">
        <mat-icon>account_circle</mat-icon>
    </button>
</mat-toolbar>