<div class="home">
    <section id="main">
        <div class="content">
            <h1>NEWLIGHT</h1>
        </div>
    </section>
    <section class="info">
        <div class="text">
            <h1 class="title">NewLight</h1>
            <p class="main-paragraph">
                NewLight is the lighting store made for future homes, now
            </p>
            <button matButton="elevated" (click)="goToStore()">Store</button>
        </div>
        <!-- <div class="image-container">

        </div> -->
    </section>
    <mat-card class="cta-banner">
        <div class="our-partners">We commercialize the best brands in th elightning industry</div>
        <div class="brands-grid"></div>
    </mat-card>
    <!-- <app-products-list></app-products-list> -->
</div>