/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// Remove the default background and box-shadow from the mat-icon-button
.mat-toolbar-row .mat-icon-button {
  background-color: transparent !important;
  box-shadow: none !important;
}